#####################################################################
#
#   Printer Sensor Settings
#
#####################################################################

#####################################################################
#   Probe
#####################################################################
[probe]
pin: stealthburner: PB6
z_offset: 0
speed: 3.0
samples: 3
samples_result: median
sample_retract_dist: 6.0
samples_tolerance: 0.01
samples_tolerance_retries: 3
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
#   Filament Sensor
#####################################################################

[filament_motion_sensor filament_sensor]
detection_length: 7
extruder: extruder
switch_pin: PC5
pause_on_runout: FALSE
runout_gcode:
  FILAMENT_RUNOUT

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: stealthburner: PB12
spi_software_sclk_pin: stealthburner: PB10
spi_software_mosi_pin: stealthburner: PB11
spi_software_miso_pin: stealthburner: PB2
axes_map: z,-y,x

#[temperature_sensor electronics_bay]
#sensor_type: BME280
#i2c_address:
##   Default is 118 (0x76). Some BME280 sensors have an address of 119
##   (0x77).
#i2c_mcu: Pico
#i2c_bus: 1
#i2c_software_scl_pin: Pico:GPIO3
#i2c_software_sda_pin: Pico:GPIO2
#i2c_speed: 100000

#[temperature_sensor chamber]
#sensor_type: BME680
#i2c_address:
##   Default is 118 (0x76). Some BME280 sensors have an address of 119
##   (0x77).
#i2c_mcu: Pico
#i2c_bus: 1
#i2c_software_scl_pin: Pico:GPIO3
#i2c_software_sda_pin: Pico:GPIO2
#i2c_speed: 100000
